<!DOCTYPE html>
<html lang="en">
<head>
  <title>Versatile Store</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/styles2.css">
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Versatile Store</h1>      
    <p>Mission, Vission & Values</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="/">Versatile Store</a>
        </div>
        <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/product/add">Product</a></li>
        </ul>
    </div>
</nav>

<center>
        <table style="background-color: #FFFFCC" border=1>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Category Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Menu</th>
            </tr>
            {{#each products}}
            <tr>
                <td>{{_id}}</td>
                <td>{{name}}</td> 
                <td>{{category}}</td>
                <td>{{description}}</td>
                <td>{{price}}</td>
                <td><a href="/product/delete?id={{_id}}">Delete</a></Td>
            </tr>
            {{/each}}
        </table>
    </center>
    
</body>
</html>